    body{
    text-align:center;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;

  }
  header{
    color: SeaGreen;
    font-size: 25px;
    text-align:center;
    font-family: Arial, Helvetica, sans-serif;
  }
  table{
    height:auto;
    margin:30px
    overflow-y scroll;
    position: relative;
    width: 100%;
  }
 thead td{
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  text-align: center;
 }
 tbody td{
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-align: center;
  padding: 2px;

 }
  a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-align: center;
  }
h3{
  font-weight: 100;
}
  
  
 